/* /* h2 {
    color: blue;
}

p {
    color: aqua;
    text-align: center;
    font-size: 25px;
}

.par {
    color: bisque;
}

#ab {
    color: pink;
}

div {
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 100px;
    border: 2px solid red;
}


h2 {
    color: blueviolet;
    text-align: center;
}

P {
    color: red;
    text-align: left;
} */

 .container{
    display: grid;  /* for 2 d*/
    height: 500px;
    width: 1080px;
    border: 2px solid black;
    background-color: aqua;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3 ,1fr);
    /* grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"; */
    column-gap:10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center; 
    /* place-items: center; */
    /* justify-content: space-around; */
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border:1px solid black;
    text-align: center;
    align-content: center;
    color: white;
    
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */